{% if not datas %}
    <tr class="ez-block-row">
        <td class="ez-block-cell ez-block-cell-no-result" colspan="6">
            {{ 'smileezcron.crons.nodata'|trans }}
        </td>
    </tr>
{% else %}
    {% for alias, data in datas %}
        <tr class="ez-block-row">
            <td class="ez-block-cell">{{ alias }}</td>
            <td class="ez-block-cell">{{ data.expression }}</td>
            <td class="ez-block-cell">{{ data.arguments }}</td>
            <td class="ez-block-cell-center">{{ data.priority }}</td>
            <td class="ez-block-cell-center">
                {% if data.enabled %}
                    <span class="ez-contenttype-icon ez-contenttype-icon-chekmark"></span>
                {% endif %}
            </td>
            <td class="ez-block-cell">
                <a href="{{ path('smileezcron_cron_edit', {'alias': alias}) }}" class="pure-button ez-button" data-icon="&#xe606;">{{ 'cron.edit'|trans }}</a>
            </td>
        </tr>
    {% endfor %}
{% endif %}
