{% if not datas %}
    <tr class="ez-block-row">
        <td class="ez-block-cell ez-block-cell-no-result" colspan="6">
            {{ 'smileezcron.crons.nodata'|trans }}
        </td>
    </tr>
{% else %}
    {% for alias, data in datas %}
        <tr class="ez-block-row">
            <td class="ez-block-cell">{{ alias }}</td>
            <td class="ez-block-cell smile-cron-edit" data-type="expression" data-alias="{{ alias }}" id="smile-cron-td-expression-{{ alias }}">
                <span class="smile-cron-value" data-type="expression" data-alias="{{ alias }}" id="smile-cron-value-expression-{{ alias }}">
                    {{ data.expression }}
                </span>
            </td>
            <td class="ez-block-cell smile-cron-edit" data-type="arguments" data-alias="{{ alias }}" id="smile-cron-td-arguments-{{ alias }}">
                <span class="smile-cron-value" data-type="arguments" data-alias="{{ alias }}" id="smile-cron-value-arguments-{{ alias }}">
                    {{ data.arguments }}
                </span>
            </td>
            <td class="ez-block-cell smile-cron-edit" data-type="priority" data-alias="{{ alias }}" id="smile-cron-td-priority-{{ alias }}">
                <span class="smile-cron-value" data-type="priority" data-alias="{{ alias }}" id="smile-cron-value-priority-{{ alias }}">
                    {{ data.priority }}
                </span>
            </td>
            <td class="ez-block-cell-center smile-cron-edit-boolean" data-type="enabled" data-alias="{{ alias }}">
                <span id="enabled-{{ alias }}" class="{% if data.enabled %}ez-contenttype-icon ez-contenttype-icon-chekmark{% endif %}" data-type="enabled" data-alias="{{ alias }}"></span>
            </td>
        </tr>
    {% endfor %}
{% endif %}
