{% trans_default_domain "smileezcron_crons" %}

<section class="ez-serverside-content">
    <div class="ez-table-data is-flexible">
        <div class="ez-table-data-container">
            <table class="pure-table pure-table-striped ez-selection-table">
                <thead>
                <tr class="ez-selection-table-row">
                    <th>{{ 'smileezcron.crons.th.alias'|trans }}</th>
                    <th>{{ 'smileezcron.crons.th.expression'|trans }}</th>
                    <th>{{ 'smileezcron.crons.th.arguments'|trans }}</th>
                    <th>{{ 'smileezcron.crons.th.priority'|trans }}</th>
                    <th>{{ 'smileezcron.crons.th.enabled'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {{ render( controller('smile.cron.controller.cron.crons:listAction' ) ) }}
                </tbody>
            </table>
        </div>
    </div>
</section>

